<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.crud.dao.BaseItemMapper">
  <resultMap id="BaseResultMap" type="com.fjut.crud.bean.BaseItem">
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
  </resultMap>

  <select id="getAllItem" resultMap="BaseResultMap">
    select * from base_item
  </select>

  <select id="getItemById" resultMap="BaseResultMap">
    select * from base_item where item_id=#{id}
  </select>

</mapper>