<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.crud.dao.EmployeeMapper">

  <!--&lt;!&ndash;员工部门联合查询&ndash;&gt;-->
  <!--<sql id="WithDept_Column_List">-->
    <!--e.emp_id,-->
    <!--e.emp_name,-->
    <!--e.gender,-->
    <!--e.email,-->
    <!--e.d_id,-->
    <!--d.dept_id,-->
    <!--d.dept_name-->
  <!--</sql>-->
  <!--&lt;!&ndash;查询员工同时带部门信息&ndash;&gt;-->
  <!--<select id="selectByExampleWithDept"  resultMap="WithDeptResultMap">-->
    <!--select-->
    <!--<if test="distinct">-->
      <!--distinct-->
    <!--</if>-->
    <!--&lt;!&ndash;连表查询&ndash;&gt;-->
    <!--<include refid="WithDept_Column_List" />-->
    <!--FROM tbl_emp e-->
    <!--left join tbl_dept d on e.`d_id`=d.`dept_id`-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null">-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="selectByPrimaryKeyWithDept" resultMap="WithDeptResultMap">-->
    <!--select-->
    <!--<include refid="WithDept_Column_List" />-->
    <!--from tbl_emp e left join tbl_dept d on e.`d_id`=d.`dept_id`-->
    <!--where emp_id = #{empId,jdbcType=INTEGER}-->
  <!--</select>-->

</mapper>